In [1]:
import numpy as np
import pandas as pd

#### Data importing and exploration

In [2]:
## importing data
df = pd.read_csv(r'Data\train.csv')

In [3]:
df.sample(frac=1)

,id,keyword,location,text,target
261,372,annihilation,NaN,@Barbi_Twins We need help-horses will die! Ple...,0
5229,7475,obliteration,DC Metro area,Why did God order obliteration of ancient Cana...,0
5128,7315,nuclear%20reactor,Anywhere I like,Government under pressure to abandon plans to ...,0
1818,2612,crashed,NaN,Major Hamayun Shaheed pilot of MI-7 heli that ...,1
4237,6020,hazardous,NaN,It's getting to be hazardous getting into this...,1
...,...,...,...,...,...
4631,6582,injury,NaN,incident with injury:I-495 inner loop Exit 31...,1
5257,7518,oil%20spill,Canada,DTN Brazil: Refugio oil spill may have been co...,1
1354,1955,burning%20buildings,a botanical garden probably,drew storen is probably curing cancer &amp; sa...,0
3064,4396,earthquake,world,Earthquake : M 3.4 - 96km N of Brenas Puerto R...,1
4663,6629,inundated,United States,#tech Data Overload: The Growing Demand for Co...,0

In [4]:
df.sample(frac=1)

,id,keyword,location,text,target
232,331,annihilated,"West Lancashire, UK.",@stormbeard @steel_lord I seen Judas Priest in...,0
2203,3157,deluge,www.tmgcgart.com,@RomeoCrow Most welcome! Organizing Twitter to...,0
2712,3896,detonation,NaN,Ignition Knock (Detonation) Sensor-Senso Stand...,0
4646,6605,inundated,Kenya,FB page of Bushman Safari's Zimbabwe the compa...,0
224,318,annihilated,NaN,@violentfeminazi I guess that's ok for Armenia...,1
...,...,...,...,...,...
7223,10342,weapons,"GrC Founder, 8,000 Subscribers",Weapons stolen from National Guard Armory in N...,0
6820,9769,trapped,NaN,@BattleRoyaleMod when they die they just get t...,0
7509,10741,wreckage,NaN,Wreckage 'Conclusively Confirmed' as From MH37...,1
167,242,airplane%20accident,"San Francisco, CA",Statistically I'm at more of risk of getting k...,0
5326,7604,pandemonium,"Everett, WA",@BlizzHeroes Would love to see a Diablo map th...,0

In [5]:
# Dropping ID and location columns
df.drop(columns=['id', 'location'], inplace=True)

In [6]:
# Removing duplicates
print(df.duplicated().sum())
df.drop_duplicates(inplace=True)

72

In [7]:
df.sample(frac=1)

           keyword                                               text  target
2490      desolate  @CorleoneDaBoss there isn't anything there its...       0
5329   pandemonium  Proud of you @JoeGoodmanJr for watching the #C...       0
2460    derailment  @AlvinNelson07 A train isn't made to withstand...       1
6223         smoke  @bre_morrow neither of them even smoke so I dk...       0
4444       hostage  I went to pick up my lunch today and the barte...       1
...            ...                                                ...     ...
3115  electrocuted  Just thought I'd let you all know...\nIt's pro...       0
6577     survivors  4 THOSE WHO CARE ABOUT SIBLING ABUSE SURVIVORS...       0
4467      hostages  'Well guess what young girls. You aren't damse...       0
1522  catastrophic  Learning from the Legacy of a Catastrophic Eru...       1
2902         drown  Ev makes me wanna drown myself he's such an idiot       0

[7541 rows x 3 columns]

In [8]:
# Dropping null values
print(df.isna().sum())
df.dropna(inplace=True)

keyword    61
text        0
target      0
dtype: int64

In [9]:
df.sample(frac=1)

,keyword,text,target
7139,volcano,Diaporama : sixpenceee: Karymsky Lake is a cra...,0
2520,desolation,Fear and panic in the air I want to be free fr...,0
2818,displaced,.POTUS #StrategicPatience is a strategy for #G...,1
5940,screamed,@ThatWitchEm @EmmaChosenOne @JessieNovoaRP @Je...,0
6030,seismic,[Report 5] 18:22:45 Ibaraki Prefecture offing ...,1
...,...,...,...
1915,curfew,@keampurley thirst has no curfew,0
4565,injuries,in fact if y'all could tag like small creeping...,0
3234,emergency%20services,@swayoung01 Hi I thought that I recognised you...,0
6506,survive,So much shit has happened today wtf idk how I ...,1
2597,destroyed,the way he did me destroyed me...,0

#### Data and text preprocessing

In [10]:
# Label encoding keyword column
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['keyword'] = le.fit_transform(df['keyword'])
df.sample(frac=1)

      keyword                                               text  target
4131      118  This is why I am scared to leave my car under ...       1
1402       40  disinfo: Warfighting Robots Could Reduce Civil...       1
265         6  @SonofBaldwin and he's the current Nova in the...       0
943        26  @KalinAndMyles @KalinWhite my ig is being blow...       0
5530      159  oc73x mhtw4fnet\n\nOfficials: Alabama home qua...       1
...       ...                                                ...     ...
3917      112  2pcs 18W CREE Led Work Light  Offroad Lamp Car...       0
2398       68  @realDonaldTrump @rushlimbaugh ITS PROOF democ...       0
2258       64  Businesses are deluged with invoices. Make you...       0
55          0  #Kurds trampling on Turkmen flag later set it ...       1
7069      206  But...! Oh! \n\nHow rich the soil?!\n\nHow won...       0

[7480 rows x 3 columns]

In [11]:
df

      keyword                                               text  target
31          0  @bbcmtd Wholesale Markets ablaze http://t.co/l...       1
32          0  We always try to bring the heavy. #metal #RT h...       0
33          0  #AFRICANBAZE: Breaking news:Nigeria flag set a...       1
34          0                 Crying out for more! Set me ablaze       0
35          0  On plus side LOOK AT THE SKY LAST NIGHT IT WAS...       0
...       ...                                                ...     ...
7578      220   @jt_ruff23 @cameronhacker and I wrecked you both       0
7579      220  Three days off from work and they've pretty mu...       0
7580      220  #FX #forex #trading Cramer: Iger's 3 words tha...       0
7581      220  @engineshed Great atmosphere at the British Li...       0
7582      220  Cramer: Iger's 3 words that wrecked Disney's s...       0

[7480 rows x 3 columns]

In [24]:
# Reshuffling the dataset
df = df.sample(frac=1).reset_index(drop=True)
df

      keyword                                               text  target
0          51  'A slamming door and a lesson learned... I let...       0
1          26  @luke_winkie Whoever is directing these videos...       0
2           8  @Karnythia my niece is gaining the ability to ...       0
3         117                      @FaZe_Rain all hail the Cloud       0
4         149  @realDonaldTrump to obliterate notion &amp; pa...       0
...       ...                                                ...     ...
7475       79  70 Years After Atomic Bombs Japan Still Strugg...       1
7476       54  WRAPUP 2-U.S. cable TV companies' shares crush...       0
7477       13  Christian Attacked by Muslims at the Temple Mo...       1
7478       34  'i'm a Gemini' *children screaming buildings b...       1
7479       13                       @messeymetoo I feel attacked       0

[7480 rows x 3 columns]

In [41]:
# Preprocessing text
import re
import contractions
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

def text_preprocess(text):
    # Fixing contractions
    text = contractions.fix(text)
    
    # Removing non-alphabetical characters
    text = re.sub('[^a-zA-Z\s]', '', text)
    
    # Converting to lowercase
    text = text.lower()
    
    # Removing stopwords
    s_words = stopwords.words('english')
    s_words.remove('not')
    text = text.split()
    ps = PorterStemmer()
    text = ' '.join([ps.stem(word) for word in text if word not in s_words])
    
    
    return text

In [50]:
df['text'] = df['text'].apply(text_preprocess)

In [51]:
df.sample(frac=1)

      keyword                                               text  target
3661      158  wire reddit quarantin offens content reddit co...       0
542       153  senatemajldr let us tri best prevent anoth out...       1
3486       85  still see itblank expressioncheek clap facemar...       0
2597        0  gain follow last week know stat grow httptcoti...       0
5237      156  laughtrad panick market see posit capitul joke...       0
...       ...                                                ...     ...
6354       44  chemic brother play armori sf tomorrow night e...       0
640       159  hot reddit new content polici goe effect mani ...       0
1252      197                         soonergrunt better tornado       0
42         98  version ks charact everi charact world would e...       0
7220       28  anoth one anoth one still not done shit one ni...       1

[7480 rows x 3 columns]